<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACSprojects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40D963AE1E0B1068001C9F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D963C51E0B1069001C9F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D963D01E0B1069001C9F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
